/* 
    Document   : main
    Created on : Feb 8, 2012, 3:55:23 PM
    Author     : Fernando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*.ui-widget, .ui-widget .ui-widget {
    font-size: 90% !important;
}*/

.ui-widget, .ui-widget .ui-widget { 
    font-size: 0.98em; 
}

 .ui-inputtext {
     height: 14px;
 }
 
 
 a.sis_link{
    margin: 5px;
    color:#009999;
    text-decoration: underline;
    font-weight: bolder;
}

 h1{
     
     font-family: Arial,Helvetica,sans-serif;
    font-size: 14pt;
    color: #006699;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

body {
    /*color: #616161;*/
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.smb-cabecera {
    border: 0px;
    width: 100%;
    margin: 0px;
    background-image: url(/smbCatastro/css/smb/smb_header.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}

.smb-fondo {
    margin: 0px;
    width: 100%;
    border: 0px;
    background-image: url(/smbCatastro/css/smb/smb_repeat.jpg);
    background-repeat: repeat-y;
    background-position: center top;
}

#logo {
   height: 80px;
margin: 0px auto;
padding: 10px 10px 0px;
width: 1100px;
}

#content {
    margin: 0 auto;
    padding: 0;
    width: 1100px;


}

#tmpl_menu {
    margin: 0 auto;
    padding: 0;
    width: 1100px;
}

#tmpl_footer {
   
    width: 100%;
}

.ui-accordion .ui-accordion-content {
    padding: 3px;
}

.franjaDatos {
    margin: 0;
    padding: 0;
    width: 100%;
}

.panelGrid_TopAlign>tbody>tr>td { 
    vertical-align: top;
}





#boton_icono_doctores {
    background-image: url(/megadental/imgs/IconoDoctores.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
#boton_icono_doctores > .ui-icon {
background-image:none;
}

#boton_icono_auxiliares {
    background-image: url(/megadental/imgs/iconoAuxiliar.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
#boton_icono_auxiliares > .ui-icon {
background-image:none;
}

#boton_icono_administrativo {
    background-image: url(/megadental/imgs/iconoAdministrativo.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
#boton_icono_administrativo > .ui-icon {
background-image:none;
}

#boton_icono_paciente {
    background-image: url(/megadental/imgs/iconoPaciente.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
#boton_icono_paciente > .ui-icon {
background-image:none;
}

#boton_icono_catalogo {
    background-image: url(/megadental/imgs/iconoCatalogo.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
#boton_icono_catalogo > .ui-icon {
background-image:none;
}

#boton_icono_empresas {
    background-image: url(/megadental/imgs/iconoEmpresas.png) ;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
#boton_icono_empresas > .ui-icon {
background-image:none;
}


.home-boton{
    width: 128px;
    
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.home-boton a{
    text-decoration-line:cancel-underline;
}
.home-boton-link{
    width: 128px;
    
}

.home-boton-link .home-boton-content{
    width: 128px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.home-boton-link .home-boton-leyenda {
    width: 100%;
    text-align: center;
    
    text-decoration-line:cancel-underline;
}

.noBorder tr,.noBorder td{
    border: none !important;
    border-style: none !important;
}

.DlgCSS { 
    background-image: none; 
    background-color: red; 
}

.denegadoBox {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 250px;
    height: 300px;
}

.input-number{
    width: 90% !important;
}



span input{
    width: 50%;
}
