

 body { margin: 0; background: #ffffff; font-family: Arial, Verdana, Tahoma, sans-serif; font-size: 12px; }
    #background1, #background2, #background3, #background4, #background5, #backgrounddes {
        width: 1000px;
        height: 475px;
        margin: 0 auto;
        position: relative;
    }
    #background1 { /*background: url(/sgm/css/smb/newlogomunicipal.png) ;
        background-size: 100%;*/
        background-color: #ffffff;
    }
    #background2 { background: url(/sgm/css/smb/newlogomunicipal.png) ;
        background-size: 100%;
       
    }
    #backgrounddes {
        background-size: 100%;
       
    }


    .wide { width: 100%; float: left; border-bottom: solid 1px #f0f0f0; /*background: url(/sgm/css/smb/imglogo.jpg) repeat-x #fff*/;  }
    .foot { width: 100%; float: left; min-height: 40px; text-align: center; font-size: 10px; color: #888; margin-top: 200px;}
    #login {
        width: 270px;
        height: 200px;
        background: white;
        border: solid 1px #ccc;
        position: absolute;
        left: 100px;
        top: 150px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-box-shadow: 2px 2px 2px #333;
        padding: 10px;
        opacity: 0.9;

    }
    #login h2 { margin: 10px 0; text-align: center;text-transform: uppercase; color: #555; }
    #login p.error { color: red; text-decoration: blink; }