/*
 Origami Solutions
*/
/* 
    Created on : May 31, 2014, 10:32:27 AM
    Author     : fernando
*/

.smb-input-mobile {
    width: 70% !important;
}

.smb-panel-mobile {
    width: 100%;
    max-width: 700px;
}


