<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"><hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!--PRODUCCION-->
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/sgm</property>        
        
        <property name="hibernate.connection.username">sisapp</property>
        <property name="hibernate.connection.password">sisapp98</property>
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="c3p0.minPoolSize">2</property>
        <property name="c3p0.maxPoolSize">50</property>

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.idle_test_period">1000</property>
        <property name="c3p0.timeout">1800</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ManagedSessionContext</property>
        <property name="hibernate.transaction.flush_before_completion">false</property>
        <property name="hibernate.transaction.auto_close_session">false</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.default_schema">sgm_app</property>
        <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.classloading.use_current_tccl_as_parent">false</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults" >false</property>

        <!--- clientes ws> -->
        <!--        <mapping class="com.origami.app.wscliente.Cedulas"/>
        <mapping class="com.origami.app.wscliente.CedulaJama"/>-->
        
        <!-- DBO -->
        <mapping class="com.origami.sgm.entities.TitulosPredio"/>
        <mapping class="com.origami.sgm.entities.CarteraVencida"/>
        <mapping class="com.origami.sgm.entities.ClavesAnterioresRevision"/>
        
        <!-- ACL -->
        <mapping class="com.origami.sgm.acl.entity.AclUrl"/>
        <mapping class="com.origami.sgm.acl.entity.AclUrlHasRol"/>
        <!-- ESQUEMA APP1 -->
        <mapping class="com.origami.sgm.entities.AclRol" />
        <mapping class="com.origami.sgm.entities.AclUser"/>
        <mapping class="com.origami.sgm.entities.CatCanton"/>
        <mapping class="com.origami.sgm.entities.CatCategoriasConstruccion"/>
        <mapping class="com.origami.sgm.entities.CatCategoriasConstruccionValores"/>
        <mapping class="com.origami.sgm.entities.CatCiudadela"/>
        <mapping class="com.origami.sgm.entities.CatConfig"/>
        <mapping class="com.origami.sgm.entities.CatEdfCategProp"/>
        <mapping class="com.origami.sgm.entities.CatEdfProp"/>
        <mapping class="com.origami.sgm.entities.CatEnte"/>
        <mapping class="com.origami.sgm.entities.CatEnteSocios"/>
        <mapping class="com.origami.sgm.entities.CatEscritura"/>
        <mapping class="com.origami.sgm.entities.CatEscrituraPropietario"/>
        <mapping class="com.origami.sgm.entities.CatEscrituraRural"/>
        <mapping class="com.origami.sgm.entities.CatNacionalidad"/>
        <mapping class="com.origami.sgm.entities.CatNormasConstruccion"/>
        <mapping class="com.origami.sgm.entities.AvalBandaImpositiva"/>
        <mapping class="com.origami.sgm.entities.AvalDetCobroImpuestoPredios"/>
        <mapping class="com.origami.sgm.entities.AvalImpuestoPredios"/>
        <mapping class="com.origami.sgm.entities.AvalDepreciacionSolar"/>
        <mapping class="com.origami.sgm.entities.CatNormasConstruccionHasRetirosAumento"/>
        <mapping class="com.origami.sgm.entities.CatNormasConstruccionTipo"/>
        <mapping class="com.origami.sgm.entities.CatPais"/>
        <mapping class="com.origami.sgm.entities.CatParroquia"/>
        <mapping class="com.origami.sgm.entities.CatPredio"/>
        <mapping class="com.origami.sgm.entities.CatPredioAlicuotaComponente"/>
        <mapping class="com.origami.sgm.entities.CatClaveReordenada"/>
        <mapping class="com.origami.sgm.entities.CatPredioRustico"/>
        <mapping class="com.origami.sgm.entities.CatPredioEdificacion"/>
        <mapping class="com.origami.sgm.entities.CatPredioEdificacionProp"/>
        <mapping class="com.origami.sgm.entities.CatPredioPropietario"/>
        <mapping class="com.origami.sgm.entities.CatPredioFusionDivision"/>
        <mapping class="com.origami.sgm.entities.AvalValorSuelo"/>
        <mapping class="com.origami.sgm.entities.CatPredioAvalHistorico"/>
        <mapping class="com.origami.sgm.entities.CatPredioAvalDetHist"/>
        <mapping class="com.origami.sgm.entities.AclLogin"/>
        <mapping class="com.origami.sgm.entities.AvalCoeficientesSuelo"/>
        <mapping class="com.origami.sgm.entities.AvalEdadZonaConst"/>
        <mapping class="com.origami.sgm.entities.CatPredioS12"/>
        <mapping class="com.origami.sgm.entities.CatPredioS4"/>
        <mapping class="com.origami.sgm.entities.CatPredioS6"/>
        <mapping class="com.origami.sgm.entities.CatPropiedadItem"/>
        <mapping class="com.origami.sgm.entities.CatProvincia"/>
        <mapping class="com.origami.sgm.entities.CatResolucionConsejo"/>
        <mapping class="com.origami.sgm.entities.CatSolicitudNormaConstruccion"/>
        <mapping class="com.origami.sgm.entities.CatTablaDepreciacion"/>
        <mapping class="com.origami.sgm.entities.CatTenenciaItem"/>
        <mapping class="com.origami.sgm.entities.CatTipoConjunto"/>
        <mapping class="com.origami.sgm.entities.CatTiposDominio"/>
        <mapping class="com.origami.sgm.entities.CatTransferenciaDetalle"/>
        <mapping class="com.origami.sgm.entities.CatTransferenciaDominio"/>
        <mapping class="com.origami.sgm.entities.CatValoresCiudadela"/>
        <mapping class="com.origami.sgm.entities.CoaAbogado"/>
        <mapping class="com.origami.sgm.entities.CoaEstadoJuicio"/>
        <mapping class="com.origami.sgm.entities.CoaJuicio"/>
        <mapping class="com.origami.sgm.entities.CoaJuicioPredio"/>
        <mapping class="com.origami.sgm.entities.CtlgCargo"/>
        <mapping class="com.origami.sgm.entities.CtlgCatalogo"/>
        <mapping class="com.origami.sgm.entities.CtlgItem"/>
        <mapping class="com.origami.sgm.entities.CtlgTipoParticipacion"/>
        <mapping class="com.origami.sgm.entities.EnteCorreo"/>
        <mapping class="com.origami.sgm.entities.EnteTelefono"/>
        <mapping class="com.origami.sgm.entities.GeCategoriasOnlinea"/>
        <mapping class="com.origami.sgm.entities.GeDepartamento"/>
        <mapping class="com.origami.sgm.entities.GeDocumentos"/>
        <mapping class="com.origami.sgm.entities.GeDocumentosEtiquetas"/>
        <mapping class="com.origami.sgm.entities.GeTipoProcesos"/>
        <mapping class="com.origami.sgm.entities.GeParametrosTramite"/>
        <mapping class="com.origami.sgm.entities.GeRequisitosTramite"/>
        <mapping class="com.origami.sgm.entities.GeTipoConsultas"/>
        <mapping class="com.origami.sgm.entities.GeTipoLegal"/>
        <mapping class="com.origami.sgm.entities.GeTipoTramite"/>
        <mapping class="com.origami.sgm.entities.GeTiposSolicitudesServicio"/>
        <mapping class="com.origami.sgm.entities.GeTramiteBaseLegal"/>
        <mapping class="com.origami.sgm.entities.GeneSecuencia"/>
        <mapping class="com.origami.sgm.entities.PeDetalleEstructuraEspecial"/>
        <mapping class="com.origami.sgm.entities.PeDetalleInspeccion"/>
        <mapping class="com.origami.sgm.entities.PeDetallePermiso"/>
        <mapping class="com.origami.sgm.entities.PeDetallePermisosAdicionales"/>
        <mapping class="com.origami.sgm.entities.PeEstructuraEspecial"/>
        <mapping class="com.origami.sgm.entities.PeFirma"/>
        <mapping class="com.origami.sgm.entities.PeInspeccionCabEdificacion"/>
        <mapping class="com.origami.sgm.entities.PeInspeccionFinal"/>
        <mapping class="com.origami.sgm.entities.PeInspeccionFotos"/>
        <mapping class="com.origami.sgm.entities.PePermiso"/>
        <mapping class="com.origami.sgm.entities.PePermisoCabEdificacion"/>
        <mapping class="com.origami.sgm.entities.PePermisosAdicionales"/>
        <mapping class="com.origami.sgm.entities.PeTipoPermiso"/>
        <mapping class="com.origami.sgm.entities.PeTipoPermisoAdicionales"/>
        <mapping class="com.origami.sgm.entities.PeTiposEstructuraEspecial"/>
        <mapping class="com.origami.sgm.entities.PeUnidadMedida"/>
        <mapping class="com.origami.sgm.entities.ProcesoFusionPredios"/>
        <mapping class="com.origami.sgm.entities.ProcesoReporte"/>
        <mapping class="com.origami.sgm.entities.RecActasEspecies"/>
        <mapping class="com.origami.sgm.entities.RecActasEspeciesDet"/>
        <mapping class="com.origami.sgm.entities.RecEspecies"/>
        <mapping class="com.origami.sgm.entities.ReProcesos"/>
        <mapping class="com.origami.sgm.entities.RegActo"/>
        <mapping class="com.origami.sgm.entities.RegAsocCamaras"/>
        <mapping class="com.origami.sgm.entities.RegCapital"/>
        <mapping class="com.origami.sgm.entities.RegCatPapel"/>
        <mapping class="com.origami.sgm.entities.RegCertificado"/>
        <mapping class="com.origami.sgm.entities.RegEnteInterviniente"/>
        <mapping class="com.origami.sgm.entities.RegEnteJudiciales"/>
        <mapping class="com.origami.sgm.entities.RegEnteRegescritura"/>
        <mapping class="com.origami.sgm.entities.RegEscritura"/>
        <mapping class="com.origami.sgm.entities.RegFicha"/>
        <mapping class="com.origami.sgm.entities.RegFichaPropietarios"/>
        <mapping class="com.origami.sgm.entities.RegFichaBien"/>
        <mapping class="com.origami.sgm.entities.RegFichaReferecia"/>
        <mapping class="com.origami.sgm.entities.RegLibro"/>
        <mapping class="com.origami.sgm.entities.RegMantenimientoMenu"/>
        <mapping class="com.origami.sgm.entities.RegMovimiento"/>
        <mapping class="com.origami.sgm.entities.RegMovimientoCapital"/>
        <mapping class="com.origami.sgm.entities.RegMovimientoCliente"/>
        <mapping class="com.origami.sgm.entities.RegMovimientoFicha"/>
        <mapping class="com.origami.sgm.entities.RegMovimientoReferencia"/>
        <mapping class="com.origami.sgm.entities.RegMovimientoRepresentante"/>
        <mapping class="com.origami.sgm.entities.RegMovimientoSocios"/>
        <mapping class="com.origami.sgm.entities.RegPredioUrbano"/>
        <mapping class="com.origami.sgm.entities.RegTablaCuantia"/>
        <mapping class="com.origami.sgm.entities.RegTablaCuantiaDeterminada"/>
        <mapping class="com.origami.sgm.entities.RegTipoBien"/>
        <mapping class="com.origami.sgm.entities.RegTipoBienCaracteristica"/>
        <mapping class="com.origami.sgm.entities.RegTipoCertificado"/>
        <mapping class="com.origami.sgm.entities.RegTipoFicha"/>
        <mapping class="com.origami.sgm.entities.RegRegistrador"/>
        <mapping class="com.origami.sgm.entities.GeTareaUsuario"/>
        <mapping class="com.origami.sgm.entities.GeRequisitosTipoTramite"/>
        <mapping class="com.origami.sgm.entities.DisparadorTramites"/>
        <mapping class="com.origami.sgm.entities.ParametrosDisparador"/>
        <mapping class="com.origami.sgm.entities.MatFormulaTramite"/>
        <mapping class="com.origami.sgm.entities.HistoricoReporteTramite"/>
        <mapping class="com.origami.sgm.entities.HistoricoArchivo"/>
        <mapping class="com.origami.sgm.entities.RegistroProfesionalTecnico"/>
        <mapping class="com.origami.sgm.entities.Resolucion"/>
        <mapping class="com.origami.sgm.entities.ServicioExterno"/>
        <mapping class="com.origami.sgm.entities.CatRangoAvaluos"/>
        <mapping class="com.origami.sgm.entities.CatRangoAvaluosRustico"/>
        <mapping class="com.origami.sgm.entities.CtlgSalario"/>
        <mapping class="com.origami.sgm.entities.CtlgDescuentoEmision"/>
        <mapping class="com.origami.sgm.entities.CatEdifInspeccionValores"/>
        <mapping class="com.origami.sgm.entities.CatPredioSumasAnualesUbicacion"/>
        <mapping class="com.origami.sgm.entities.ParametrosValoracionPredio"/>
        <mapping class="com.origami.sgm.entities.CatUbicacion"/>
        <mapping class="com.origami.sgm.entities.CatExcepcionesParam"/>
        <mapping class="com.origami.sgm.entities.CatExcepciones"/>
        <mapping class="com.origami.sgm.entities.CatExcepcionesDet"/>
        <mapping class="com.origami.sgm.entities.FotoPredio"/>
        <mapping class="com.origami.sgm.entities.CatEdificacionPisosDet"/>


        <mapping class="com.origami.sgm.entities.CatPredioClasificRural"/>
        <mapping class="com.origami.sgm.entities.CatPredioObraInterna"/>
        <mapping class="com.origami.sgm.entities.CatPredioCultivo"/>
        <mapping class="com.origami.sgm.entities.CatBloqueObraEspecial"/>
        <mapping class="com.origami.sgm.entities.FinanPrestamoPredio"/>
        <mapping class="com.origami.sgm.entities.CatPredioLinderos"/>

        
        <!-- ESQUEMA FLOW -->
        <mapping class="com.origami.sgm.entities.HistoricoTramites"/>
        <mapping class="com.origami.sgm.entities.MsgFormatoNotificacion"/>
        <mapping class="com.origami.sgm.entities.MsgTipoFormatoNotificacion"/>
        <mapping class="com.origami.sgm.entities.OtrosTramites"/>
        <mapping class="com.origami.sgm.entities.PubGuiMenu"/>
        <mapping class="com.origami.sgm.entities.PubGuiMenuRol"/>
        <mapping class="com.origami.sgm.entities.PubGuiMenuTipoAcceso"/>
        <mapping class="com.origami.sgm.entities.PubGuiMenubar"/>
        <mapping class="com.origami.sgm.entities.RegpCertificadosInscripciones"/>
        <mapping class="com.origami.sgm.entities.RegpIntervinientes"/>
        <mapping class="com.origami.sgm.entities.RegpEntradaSalidaDocs"/>
        <mapping class="com.origami.sgm.entities.RegpLiquidacionDerechosAranceles"/>
        <mapping class="com.origami.sgm.entities.RegpLiquidacionDetalles"/>
        <mapping class="com.origami.sgm.entities.RequisitosOtrosTramite"/>
        <mapping class="com.origami.sgm.entities.RegpActoTipoActo"/>
        <mapping class="com.origami.sgm.entities.RegpActoTipoCobro"/>
        <mapping class="com.origami.sgm.entities.RegpActoTipoTarea"/>
        <mapping class="com.origami.sgm.entities.RegpActosIngreso"/>
        <mapping class="com.origami.sgm.entities.RegpTareasDinardap"/>
        <mapping class="com.origami.sgm.entities.RegpTareasDinardapDocs"/>
        <mapping class="com.origami.sgm.entities.SvSolicitudDepartamento"/>
        <mapping class="com.origami.sgm.entities.SvSolicitudServicios"/>
        <mapping class="com.origami.sgm.entities.SvSolicitudServiciosPredios"/>
        <mapping class="com.origami.sgm.entities.TipoDepartamento"/>
        <mapping class="com.origami.sgm.entities.UserConTareas"/>
        <mapping class="com.origami.sgm.entities.VuCatalogo"/>
        <mapping class="com.origami.sgm.entities.VuItems"/>
        <mapping class="com.origami.sgm.entities.Observaciones"/>
        <mapping class="com.origami.sgm.entities.HistoricoTramiteDet"/>
        <mapping class="com.origami.sgm.entities.TipoOtrosTramites"/>
        <mapping class="com.origami.sgm.entities.BaseCalculoOtrosTramites"/>
        <mapping class="com.origami.sgm.entities.OtrosTramitesHasPermiso"/>
        <mapping class="com.origami.sgm.entities.SolicitudCorreccionPredio"/>
        <mapping class="com.origami.sgm.entities.CatCertificadoAvaluo"/>
        <mapping class="com.origami.sgm.entities.FormatoReporte"/>
        <!-- ESQUEMA FINANCIERO -->
        <mapping class="com.origami.sgm.entities.RecEspecies"/>
        <mapping class="com.origami.sgm.entities.RenActividadComercial"/>
        <mapping class="com.origami.sgm.entities.RenActivosLocalComercial"/>
        <mapping class="com.origami.sgm.entities.RenEntidadBancaria"/>
        <mapping class="com.origami.sgm.entities.RenIntereses"/>
        <mapping class="com.origami.sgm.entities.RenLiquidacion"/>
        <mapping class="com.origami.sgm.entities.RenActividadContribuyente"/>
        <mapping class="com.origami.sgm.entities.RenActividadContribuyenteTelefono"/>
        <mapping class="com.origami.sgm.entities.RenLocalComercial"/>
        <mapping class="com.origami.sgm.entities.RenPago"/>
        <mapping class="com.origami.sgm.entities.RenPagoRubro"/>
        <mapping class="com.origami.sgm.entities.RenRubrosLiquidacion"/>
        <mapping class="com.origami.sgm.entities.RenTipoEntidadBancaria"/>
        <mapping class="com.origami.sgm.entities.RenTipoLocalComercial"/>
        <mapping class="com.origami.sgm.entities.RenTipoLiquidacion"/>
        <mapping class="com.origami.sgm.entities.RenTipoTransaccion"/>
        <mapping class="com.origami.sgm.entities.RenEstadoLiquidacion"/>
        <mapping class="com.origami.sgm.entities.RenDetLiquidacion"/>
        <mapping class="com.origami.sgm.entities.RenTipoValor"/>
        <mapping class="com.origami.sgm.entities.RenDesvalorizacion"/>
        <mapping class="com.origami.sgm.entities.RenValoresPlusvalia"/>
        <mapping class="com.origami.sgm.entities.RenLocalCategoria"/>
        <mapping class="com.origami.sgm.entities.RenTurismo"/>
        <mapping class="com.origami.sgm.entities.RenLocalUbicacion"/>
        <mapping class="com.origami.sgm.entities.RenValoresPlusvalia"/>
        <mapping class="com.origami.sgm.entities.RenSecuenciaNumLiquidicacion"/>
        <mapping class="com.origami.sgm.entities.RenFactorPorCapital"/>
        <mapping class="com.origami.sgm.entities.RenFactorPorMetro"/>
        <mapping class="com.origami.sgm.entities.RenBalanceLocalComercial"/>
        <mapping class="com.origami.sgm.entities.FnEstadoExoneracion"/>
        <mapping class="com.origami.sgm.entities.FnExoneracionClase"/>
        <mapping class="com.origami.sgm.entities.FnExoneracionTipo"/>
        <mapping class="com.origami.sgm.entities.FnResolucion"/>
        <mapping class="com.origami.sgm.entities.FnSolicitudExoneracion"/>
        <mapping class="com.origami.sgm.entities.FnCondonacion"/>
        <mapping class="com.origami.sgm.entities.FnSolicitudCondonacion"/>
        <mapping class="com.origami.sgm.entities.FnCondonacionPorcentajes"/>
        <mapping class="com.origami.sgm.entities.RenSecuenciaNumComprobante"/>
        <mapping class="com.origami.sgm.entities.CatCategoriasPredio"/>
        <mapping class="com.origami.sgm.entities.RenPagoDetalle"/>
        <mapping class="com.origami.sgm.entities.RenDetallePlusvalia"/>
        <mapping class="com.origami.sgm.entities.RenLocalCantidadAccesorios"/>
        <mapping class="com.origami.sgm.entities.RenLocalTipoAccesorio"/>
        <mapping class="com.origami.sgm.entities.RenSolicitudesLiquidacion"/>
        <mapping class="com.origami.sgm.entities.RenTasaTurismo"/>
        <mapping class="com.origami.sgm.entities.RenTurismo"/>
        <mapping class="com.origami.sgm.entities.RenTurismoDetalleHoteles"/>
        <mapping class="com.origami.sgm.entities.RenTurismoServicios"/>
        <mapping class="com.origami.sgm.entities.RenClaseLocal"/>
        <mapping class="com.origami.sgm.entities.RenAfiliacionCamaraProduccion"/>
        <mapping class="com.origami.sgm.entities.RenPermisosFuncionamientoLocalComercial"/>
        <mapping class="com.origami.sgm.entities.CmMultas"/>
        <mapping class="com.origami.sgm.entities.CmClaseMultas"/>
        <mapping class="com.origami.sgm.entities.CmTipoMultas"/>
        <mapping class="com.origami.sgm.entities.RenParametrosInteresMulta"/>
        <mapping class="com.origami.sgm.entities.ObservacionesLocal"/>
        <mapping class="com.origami.sgm.entities.CertificadoExoneracionLocalActivos"/>
        <mapping class="com.origami.sgm.entities.FnExoneracionLiquidacion"/>
        <mapping class="com.origami.sgm.entities.EmisionesRuralesExcel"/>
        <mapping class="com.origami.sgm.entities.RenRangosValores"/>
        <mapping class="com.origami.sgm.entities.RenTipoRango"/>
        <mapping class="com.origami.sgm.entities.FnSolicitudExoneracionPredios"/>
        <mapping class="com.origami.sgm.entities.FnSolicitudTipoLiquidacionExoneracion"/>
        <!-- ESQUEMA BITACORA -->
        <mapping class="com.origami.sgm.entities.RegBitacora"/>
        <!-- Secuencia -->
        <mapping class="com.origami.sgm.entities.SecuenciaTramite"/>
        <mapping class="com.origami.sgm.entities.EnteSecuencia"/>
        <!-- ESQUEMA AGENDA -->
        <mapping class="com.origami.sgm.entities.Agenda"/>
        <mapping class="com.origami.sgm.entities.AgendaDet"/>
        <mapping class="com.origami.sgm.entities.TipoAviso"/>
        <mapping class="com.origami.sgm.entities.TipoEvento"/>
        <mapping class="com.origami.sgm.entities.Colores"/>

        <!-- ESQUEMA MEJORAS -->
        <mapping class="com.origami.sgm.entities.MejObraUbicacion"/>
        <mapping class="com.origami.sgm.entities.MejTipoObra"/>
        <mapping class="com.origami.sgm.entities.MejObra"/>
        <mapping class="com.origami.sgm.entities.MejValoresObraUbicacion"/>
        <mapping class="com.origami.sgm.entities.MejDetRubroMejoras"/>
        <mapping class="com.origami.sgm.entities.MejPagoRubroMejora"/>
        <!-- ESQUEMA Temporal -->
        <mapping class="com.origami.sgm.entities.ParteRecaudaciones"/>
        <!-- BANCOS -->
        <mapping class="com.origami.sgm.entities.bancos.FormatoBanca"/>
        <mapping class="com.origami.sgm.entities.bancos.BancaDiccionario"/>
        <mapping class="com.origami.sgm.entities.bancos.ConsolidacionBanco"/>

        <!-- AVALUOS -->
        <mapping class="com.origami.sgm.entities.avaluos.FactorDepreciacion"/>
        <mapping class="com.origami.sgm.entities.avaluos.SectorValorizacion"/>
        <mapping class="com.origami.sgm.entities.avaluos.RangosDepreciacion"/>

        <!-- HISTORICO -->
        <mapping class="com.origami.sgm.entities.historic.Predio"/>
        <mapping class="com.origami.sgm.entities.historic.ValoracionPredial"/>
        <mapping class="com.origami.sgm.entities.historic.NovedadValoracionPredial"/>
        <mapping class="com.origami.sgm.entities.historic.ComparativoEmision"/>
        <!-- CENSOCAT -->
        <!-- ORDENES TRABAJO -->
        <mapping class="com.origami.sgm.entities.OrdenDet"/>
        <mapping class="com.origami.sgm.entities.OrdenTrabajo"/>
        <!-- APPLICATION -->
        <mapping class="com.origami.sgm.entities.application.ApplEmpresa"/>
        <mapping class="com.origami.sgm.entities.application.ApplTipoEmpresa"/>
        <mapping class="com.origami.sgm.entities.application.ApplActividadEconomica"/>
        <mapping class="com.origami.sgm.entities.application.ApplAplicacion"/>

        <mapping class="com.origami.sgm.entities.FnConvenioPago"/>
        <mapping class="com.origami.sgm.entities.FnConvenioPagoDetalle"/>
        <mapping class="com.origami.sgm.entities.FnConvenioPagoArchivo"/>
        <mapping class="com.origami.sgm.entities.FnConvenioPagoObservacion"/>
    
        <mapping class="com.origami.sgm.entities.FnRemisionSolicitud"/>
        <mapping class="com.origami.sgm.entities.FnRemisionLiquidacion"/>
    

    </session-factory>
</hibernate-configuration>
